{% extends 'layouts/base.html' %}

{% block styles %}{% endblock %}

{% block main %}

<main class="p-4 flex flex-col gap-4">
    <h2 class="text-3xl">My Faces</h2>
    <p>This faces are stored and used to allow the facial recognition. You currently have <span id="facesQuantity">0</span> faces.</p>
    
    <div class="d-grid mb-3">
        <button id="btnAddFace" class="btn btn-primary">
            Add Face
        </button>
    </div>

    <div id="faces" class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 g-3"></div>

</main>

{% include 'profile/mdlTakePhoto.html' %}

{% endblock %}

{% block scripts %}

<script type="module" src="{{ url_for('static', filename='js/controllers/ProfileController.js') }}"></script>

{% endblock %}