<div class="modal fade" id="mdlTakePhoto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="mdlTakePhotoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h1 class="modal-title fs-5" id="mdlTakePhotoLabel">Take Photo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <div id="photoshooter"></div>
            </div>
            <div class="modal-footer border-top-0">
                <button class="btn btn-primary" id="btnTakePhoto">Take Photo</button>

                <button class="btn btn-danger" id="btnCancelPhoto" style="display: none">Take Another</button>
                <button class="btn btn-success" id="btnConfirmPhoto" style="display: none">Submit</button>
            </div>
        </div>
    </div>
</div>