<div class="modal fade" id="mdlFaceRecognition" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="mdlFaceRecognitionLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h1 class="modal-title fs-5" id="mdlFaceRecognitionLabel">Login With Face Recognition</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <div id="photoshooter"></div>
            </div>
            <div class="modal-footer border-top-0 text-bg-warning" id="mdlFaceRecognitionResult">
                Recognizing...
            </div>
        </div>
    </div>
</div>